<div
  class="row justify-content-center pt-5 mx-0"
  *ngIf="(parentService.isLoading)">
  <i class="fa fa-refresh fa-spin"></i>
</div>


<div
  class="container mt-5"
  *ngIf="!parentService.isLoading">

  <mdb-card
    *ngIf="parentService.couple.parent1.token !== null"
    class="col-md-12 mt-5 px-0 rounded-corner">
    <mdb-card-header class="main-header">
      Nieuw Dilemma!
    </mdb-card-header>
    <mdb-card-body
      class="row justify-content-center">
      <h2
        class="col-12"
        style="color: black; text-align: center;">
        Er staat een nieuw dilemma voor u klaar!
      </h2>
      <a
        id="answer"
        [routerLink]="'/dilemma/beantwoord/' + parentService.couple.parent1.token"
        routerLinkActive="active"
        class="btn-rounded btn-normalize"
        type="button"
        mdbBtn color="primary"
        mdbWavesEffect>
        Beantwoorden
      </a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card class="col-md-12 mt-5 px-0 rounded-corner">
    <mdb-card-header class="main-header">
      Gegevens
    </mdb-card-header>
    <mdb-card-body
    class="row justify-content-center">
      <app-parent-details class="col-md-5 px-0 mr-md-3 mb-sm-3" [parent]="parentService.couple.parent1"></app-parent-details>
      <app-parent-details class="col-md-5 px-0 ml-md-3" [parent]="parentService.couple.parent2"></app-parent-details>
    </mdb-card-body>
  </mdb-card>
</div>


