<!-- Parent form login -->
<div class="card">

  <h5 class="card-header white-text text-center py-6">
    <strong> {{ formTitle }} </strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <div
      [formGroup]="child"
      class="row text-center"
      style="color: #757575;">

      <div class="col-12 col-lg-6 my-md-4 mt-3">
        <div class="custom-control form-control-lg custom-checkbox">
          <input
            #isBorn
            type="checkbox"
            class="custom-control-input"
            id="isBorn"
            (change)="onIsBornToggle(isBorn.checked)"
            formControlName="isBorn">
          <label class="custom-control-label" for="isBorn">Ons kind is al geboren.</label>
        </div>
      </div>

      <div class="col-12" id="horizontalLine">
        <hr>
      </div>

      <!-- Date -->
      <div class="col-12 col-lg-6 mb-5 mb-sm-4 form-control-lg" >
        <label for="date"> {{ dateText }} </label>
        <input
            type="date"
            id="date"
            formControlName="date"
            class="form-control form-control-sm">

      </div>

      <!-- isborn -->


    </div>
    <!-- Form -->

  </div>

</div>
