.root, .card-header, .card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #03142b;
}

.card {
  padding: 0;
  margin-top: 27px;
}

button {
  width: 200px;
}

input {
  text-align: center;
  margin-bottom: 5px;
  width: 65%;
}
