<div class="container">
  <div class="root">
    <div class="card col-md-6">
      <div class="card-header">
        Beheerder wachtwoord resetten
      </div>
      <div class="card-body">
        <input (input)="firstInputUpdated($event)" placeholder="Wachtwoord" type="password" class="form-control">
        <input (input)="secondInputUpdated($event)" placeholder="Herhaal wachtwoord" type="password" class="form-control">
        <button mdbWavesEffect (click)="startSaving()" [ngClass]="'btn btn-rounded btn-' + buttonClass">{{ buttonText }}</button>
      </div>
    </div>
  </div>
</div>
