<div class="container">
  <div class="root">
    <div class="card col-md-6 rounded-corner">
      <div class="card-header">
        Beheerder wachtwoord resetten
      </div>
      <div class="card-body">
        <input (input)="firstInputUpdated($event)" placeholder="Wachtwoord" type="password" class="form-control">
        <input (input)="secondInputUpdated($event)" placeholder="Herhaal wachtwoord" type="password" class="form-control">
        <button mdbWavesEffect [disabled]="!(goodPassword1 && goodPassword2 && matchingPasswords && !disableButton)" (click)="startSaving()" [ngClass]="'btn btn-rounded btn-' + buttonClass">Opslaan</button>
        {{ message }}
      </div>
    </div>
  </div>
</div>
