<div class="container">
  <div class="row justify-content-center py-5">
    <div class="col-md-10 col-xs-12">
      <div class="card rounded-corner
">
        <h5 class="card-header white-text text-center py-4">
          <strong>Privacybeleid Dubio</strong>
        </h5>

        <div class="row justify-content-center py-4" id="privacystatement">
          <div class="col-10">
            <h2>
              Persoonsgegevens die wij verwerken
            </h2>
            <p>
              Dubio verwerkt je persoonsgegevens doordat je gebruik maakt van onze diensten en/of omdat je deze gegevens zelf aan ons verstrekt.

              Hieronder vind je een overzicht van de persoonsgegevens die wij verwerken:
            </p>
            <ul>
              <li>Voor- en achternaam</li>
              <li>Telefoonnummer</li>
              <li>E-mailadres</li>
            </ul>
            <h2>
              Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken
            </h2>
            <p>
              Dubio verwerkt jouw persoonsgegevens voor de volgende doelen:
            </p>
            <ul>
              <li>Je te kunnen bellen of e-mailen indien dit nodig is om onze dienstverlening uit te kunnen voeren</li>
              <li>Je de mogelijkheid te bieden een account aan te maken</li>
            </ul>
            <h2>
              Geautomatiseerde besluitvorming
            </h2>
            <p>
              Dubio neemt op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier om besluiten die worden genomen door computerprogramma's of -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van Dubio) tussen zit. Dubio gebruikt de volgende computerprogramma's of -systemen:
            </p>
            <ul>
              <li>Automatische mail: wekelijks ontvang je van ons een mail met daarin een nieuw relevant dilemma</li>
            </ul>
            <h2>
              Delen van persoonsgegevens met derden
            </h2>
            <p>
              Dubio verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met jou of om te voldoen aan een wettelijke verplichting.
            </p>
            <h2>
              Cookies, of vergelijkbare technieken, die wij gebruiken
            </h2>
            <p>
              Dubio gebruikt geen cookies of vergelijkbare technieken.
            </p>
            <h2>
              Hoe wij persoonsgegevens beveiligen
            </h2>
            <p>
              Dubio neemt de bescherming van jouw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
