$dubio-dark-blue: #1e4768;

h5 {
  background-color: $dubio-dark-blue;
  font-size: 34px;
}

h2 {
  font-size: 23px;
  margin-bottom: 20px;
  border-bottom: 2px solid #e2b53b;
}
#privacystatement {
  color: black;
}
