### Java ###
out/
*.class

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Yaml ###
config.yml

### Angular ###
# See http://help.github.com/ignore-files/ for more about ignoring files.
# compiled output
dist/
tmp/
out-tsc/

### NodeJS ###
node_modules/

### IDEs and editors ###
.project
.classpath
.c9/
*.launch
.settings/

# Sublime Text
*.sublime-workspace

# Intellij & Webstorm
.idea/
*.iml

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

ipsen3_all.zip


