<mdb-card style="margin-bottom: 10px;" class="rounded-corner">
  <div>
    <h3 [hidden]="shownCouples.length > 0">
      <img width="100px" src="assets/images/couple-list/no-results.png" alt="Laden...">
    </h3>
  </div>
  <mdb-card-body id="results-body">
    <app-statistics-couple-in-list (delete)="deleteRequest($event); basicModal.show()" *ngFor="let c of shownCouples" [couple]="c"></app-statistics-couple-in-list>
  </mdb-card-body>
</mdb-card>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="modal-text">
          Weet je zeker dat je dit ouderpaar uit het programma wilt verwijderen?
        </div>
      </div>
      <div class="justify-content-center modal-footer">
        <button type="button" mdbBtn color="red" class="relative waves-light" (click)="confirmDelete(); basicModal.hide()" mdbWavesEffect>Ja, verwijderen</button>
        <button type="button" mdbBtn color="blue" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Nee, annuleren</button>
      </div>
    </div>
  </div>
</div>
