<div class="container">
  <mdb-card style="margin-top: 10px;" class="rounded-corner">
    <mdb-card-header>
      <h3 style="color: black; margin: 0 auto; text-align: center;">
        Statistieken
      </h3>
    </mdb-card-header>
    <mdb-card-body>
      <h3 style="color: black; text-align: center">Ouder filter</h3>
      <div style="max-height: 300px; overflow: scroll">
        <app-statistics-couple-list></app-statistics-couple-list>
      </div>
      <hr>
      <app-answer-chart></app-answer-chart>
      <hr>
      <app-time-chart></app-time-chart>
      <hr>
      <app-day-chart></app-day-chart>
      <hr>
      <app-signup-chart></app-signup-chart>
      <hr>
    </mdb-card-body>
  </mdb-card>
</div>
