<div class="container">
  <div class="row justify-content-center py-5">
    <div class="col-md-10 col-xs-12">

      <div class="card rounded-corner">

        <h5 class="card-header white-text text-center py-4">
          <strong>  Inloggen  </strong>
        </h5>

        <app-widget-error-message *ngIf="showError" [errorMessage]="errorMessage"></app-widget-error-message>

        <form action="" (submit)="submitForm()">
          <div class="row justify-content-center py-md-3">
            <div class="col-xs-12 col-md-8 mx-md-0 py-md-3 mx-sm-5 py-sm-2">
              <app-login-card [adminLogin]="adminForm" [formTitle]="'Login'" ></app-login-card>
            </div>
          </div>

          <div class="row justify-content-center">
          </div>

          <div class="row justify-content-center py-3">
            <button
              class="form-button btn-rounded"
              style="width: 180px"
              mdbBtn
              [disabled]="!adminForm.valid"
              type="submit"
              color="success"
              size="lg"
              mdbWavesEffect>
              <span *ngIf="!loginLoading">Inloggen</span>
              <i *ngIf="loginLoading" class="fa fa-refresh fa-spin"></i>
            </button>
          </div>
        </form>
        <div class="reset-password">
          <button
            mdbWavesEffect
            routerLink="/wachtwoord-vergeten"
            class="btn btn-rounded btn-primary">
            Wachtwoord vergeten
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
