<div mdbModal #modal="mdbModal" class="modal fade top" id="loadingModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Laden</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        Een moment geduld...
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
