<div class="container">
  <div class="col-12" style="padding: 50px">
    <div align="center">
      <button style="background-color: #3b5998" type="button" mdbBtn class="btn-fb waves-light" mdbWavesEffect><i  class="fa fa-facebook"></i></button>
      <button style="background-color: #2bc4ff;" type="button" mdbBtn class="btn-tw waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></button>
      <div style="box-shadow: 0 0 10px gray;">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1000" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=IJsbaanpad%209%2C%20Amsterdam&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de/webdesign-kiel/"></a></div><style>.mapouter{text-align:right;height:400px;width:1000px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:1000px;}</style></div>
      </div>
    </div>
  </div>
</div>
