<div class="container">
  <div class="row justify-content-center py-5">
    <div align="center">
      Feestboek:
      <button onclick="location.href='http://www.example.com'" style="background-color: #3b5998" type="button" mdbBtn class="btn-fb waves-light" mdbWavesEffect><i  class="fa fa-facebook"></i></button>
      Twatter:
      <button onclick="location.href='http://www.example.com'" style="background-color: #2bc4ff;" type="button" mdbBtn class="btn-tw waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></button>
    </div>
    <div>
      <iframe class="mapouter" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.6272506795526!2d4.852133316182213!3d52.34090797978071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e1fbcf89e03f%3A0xd68bc102e345bde0!2sGarage2020!5e0!3m2!1snl!2snl!4v1544543550745" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
