<!-- Parent form login -->
<div class="card">

  <h5 class="card-header white-text text-center py-2">
    <strong> {{ formTitle }} </strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <div
      class="py-md-3 py-sm-4"
      [formGroup]="parent"
      style="color: #757575;">

      <!-- Name -->
      <label for="name" class="pt-3">Naam</label>
      <div class="md-form my-0 py-0">
        <input
          type="text"
          id="name"
          formControlName="name"
          mdbInputDirective
          data-error="Voer een naam in"
          class="form-control form-control-sm"
          placeholder="Rutger">
      </div>

      <!-- Email -->
      <label for="email" class="pt-3">E-mail</label>
      <div class="md-form my-0 py-0">
        <input
          type="email"
          id="email"
          formControlName="email"
          mdbInputDirective
          data-error="Voer een geldig e-mail in"
          class="form-control"
          placeholder="voorbeeld@gmail.com">
      </div>

      <!-- Phone Nr -->
      <label for="phone" class="pt-3">Telefoon</label>
      <div class="md-form my-0 py-0">
        <input
          type="tel"
          id="phone"
          formControlName="phone"
          mdbInputDirective
          data-error="Voer een geldig tel. nr. in"
          placeholder="+31 6 12345678"
          class="form-control">
      </div>

    </div>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->
