/*
.parent {
  display: inline-block;
  text-align: center;
}

.plus, .delete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-button {
  -webkit-transition: all ease-in-out .10s;
  -moz-transition: all ease-in-out .10s;
  -ms-transition: all ease-in-out .10s;
  -o-transition: all ease-in-out .10s;
  transition: all ease-in-out .10s;
  cursor: pointer;
}

.delete-button:hover {
  transform: scale(1.1);
}

.info-text {
  font-size: 18px;
}

.card {
  border-bottom: 2px solid lightgrey;
}

@media all and (max-width: 768px) {
  .plus, .delete {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
mdb-card, mdb-card-body {
  display: inline-block;
}
*/

div {
  color: #03142b;
}

.card {
  border-bottom: 2px solid lightgrey;
  -webkit-transition: all ease-in-out .10s;
  -moz-transition: all ease-in-out .10s;
  -ms-transition: all ease-in-out .10s;
  -o-transition: all ease-in-out .10s;
  transition: all ease-in-out .10s;
}

.card:hover {
  border-bottom: 8px solid #e2b53b;
  transform: scale(1.05);
  cursor: pointer;
}

.card-body {
  padding: 5px 0px 0px 0px;
  font-size: 18px;

}
