<mdb-card class="main-card col-md-9 rounded-corner">
  <mdb-card-body>
    <div *ngIf="viewService.admin != null">
      <mdb-card class="inside-card rounded-corner">
        <mdb-card-header>
          Admin
        </mdb-card-header>
        <mdb-card-body>
          <table>
            <tr>
              <td>Email:</td>
              <td><input id="email-input" class="text-input dilemma-theme" value="{{ viewService.admin.email }}"></td>
            </tr>
          </table>
        </mdb-card-body>
      </mdb-card>
      <mdb-card class="inside-card rounded-corner">
        <mdb-card-header>
          Rechten
        </mdb-card-header>
        <mdb-card-body>
          <div class="radiobuttons col col-md-12">
            <input hidden (input)="rightsText = studentText" type="radio" id="student" name="rights" value="1">
            <label for="student"><div class="btn btn-primary rounded-corner">Student</div></label>
            <input hidden (input)="rightsText = medewerkerText" type="radio" id="medewerker" name="rights" value="2">
            <label for="medewerker"><div class="btn btn-primary rounded-corner">Medewerker</div></label>
            <input hidden (input)="rightsText = beheerderText" type="radio" id="beheerder" name="rights" value="3">
            <label for="beheerder"><div class="btn btn-primary rounded-corner">Beheerder</div></label>
          </div>
          <div class="rightstext">
            {{ rightsText }}
          </div>
        </mdb-card-body>
      </mdb-card>
      <div class="buttons">
        <button [ngClass]="'rounded-corner btn btn-' + saveButtonClass" (click)="saveRequest()">{{ saveButtonText }}</button>
        <button class="rounded-corner btn btn-danger" (click)="basicModal.show()">VERWIJDEREN</button>
      </div>
    </div>
    <div style="font-size: 20px; text-align: center;" *ngIf="viewService.admin == null">
      Klik op een beheerder!
    </div>
  </mdb-card-body>
</mdb-card>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="modal-text">
          Weet je zeker dat je deze beheerder van het programma wilt verwijderen?
        </div>
      </div>
      <div class="justify-content-center modal-footer">
        <button type="button" mdbBtn color="red" class="relative waves-light" (click)="deleteAdmin(); basicModal.hide()" mdbWavesEffect>Ja, verwijderen</button>
        <button type="button" mdbBtn color="blue" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Nee, annuleren</button>
      </div>
    </div>
  </div>
</div>

