.main-card {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  color: #03142b;
  width: 73.5%;
  margin-left: 1.5%;
  margin-bottom: 2%;
}

button {
  -webkit-transition: all ease-in-out .10s;
  -moz-transition: all ease-in-out .10s;
  -ms-transition: all ease-in-out .10s;
  -o-transition: all ease-in-out .10s;
  transition: all ease-in-out .10s;
}

button:hover {
  transform: scale(1.03);
}

table {
  width: 100%;
}

tr {
  border-bottom: 2px solid lightgrey;
}

td {
  font-size: 18px;
}

td:first-child {
  width: 20%;
}

input {
  border: 0;
  width: 100%;
}

input:hover {
  background-color: #f8f8f8;
}

.modal-text {
  color: #03142b;
  text-align: center;
}

.modal {
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
}

.inside-card {
  margin-bottom: 3%;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.image-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
}

mdb-card-header {
  text-align: center;
  font-size: 20px;
  background-color: #e2b53b;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  min-width: 200px;
  font-size: 14px;
}

@media all and (max-width: 768px) {
  .main-card {
    width: 100%;
    margin-left: 0;
  }
}

label {
  cursor: pointer;
}

input:checked ~ label {
  div {
    background-color: #1e4768 !important;
  }
}


@media all and (max-width: 480px) {
  #student, #medewerker, #beheerder {
    min-width: 100%;
  }
  label {
    min-width: 100%;
  }
  .radio-set {
    min-width: 100%;
  }
}

.col-md-4 {
  text-align: center;
}

.rightstext {
  margin-top: 10px;
  text-align: center;
}

.radiobuttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
