

<div class="row" id="cards">
  <div class="col-sm-12 col-md-4">
    <mdb-card>
      <!--Card image-->
      <mdb-card-img src="https://via.placeholder.com/800x400.png" alt="Card image cap"></mdb-card-img>
      <!--Card content-->
      <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
          <h4>Weekelijkse dilemma's</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aperiam, at consequatur delectus eaque enim expedita facere fugit impedit labore pariatur possimus qui sapiente, sequi sit totam vel vero?
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="col-sm-12 col-md-4">
    <mdb-card>
      <!--Card image-->
      <mdb-card-img src="https://via.placeholder.com/800x400.png" alt="Card image cap"></mdb-card-img>
      <!--Card content-->
      <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
          <h4>Beantwoord en bespreek</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aperiam, at consequatur delectus eaque enim expedita facere fugit impedit labore pariatur possimus qui sapiente, sequi sit totam vel vero?
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="col-sm-12 col-md-4">
    <mdb-card>
      <!--Card image-->
      <mdb-card-img src="https://via.placeholder.com/800x400.png" alt="Card image cap"></mdb-card-img>
      <!--Card content-->
      <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
          <h4>Krijg feedback</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aperiam, at consequatur delectus eaque enim expedita facere fugit impedit labore pariatur possimus qui sapiente, sequi sit totam vel vero?
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
