$dubio-dark-blue: #1e4768;

mdb-card-body {
  color: black;
}

mdb-card-title {
  background-color: $dubio-dark-blue;
  font-size: 34px;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

