<mdb-card class="col-md-3 rounded-corner" style="margin-bottom: 10px;">
  <mdb-card-header>
    <button *ngIf="canEdit" (click)="newDilemma()" [ngClass]="'btn-rounded btn btn-' + newDilemmaButtonClass">{{ newDilemmaButtonText }}</button>
    <select class="browser-default custom-select" (change)="onChange($event.target.value)">
      <option *ngFor="let period of periods" value="{{period.link}}">{{period.name}}</option>
    </select>
  </mdb-card-header>
  <mdb-card-body id="results-body">
    <div class="img-container" [hidden]="shownDilemmas.length > 0">
      <h3>
        <img width="80px" src="assets/images/couple-list/no-results.png" alt="Laden...">
      </h3>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let d of shownDilemmas" cdkDrag>
        <app-dilemma-in-list (click)="dilemmaClicked(d);" [dilemma]="d"></app-dilemma-in-list>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
