<mdb-card class="col-md-3" style="margin-bottom: 10px;">
  <mdb-card-header>
      <button (click)="newDilemma()" [ngClass]="'btn btn-' + newDilemmaButtonClass">{{ newDilemmaButtonText }}</button>
  </mdb-card-header>
  <mdb-card-body id="results-body">
    <div class="img-container" [hidden]="shownDilemmas.length > 0">
      <h3>
        <img width="80px" src="assets/images/couple-list/no-results.png" alt="Laden...">
      </h3>
    </div>
    <app-dilemma-in-list (click)="dilemmaClicked(d);" *ngFor="let d of shownDilemmas" [dilemma]="d"></app-dilemma-in-list>
  </mdb-card-body>
</mdb-card>
