/*

#results-body {
  color: black;
}

h3 {
  color: black;
  text-align: center;
  padding-top: 40px;
}

.card {
  box-shadow: none !important;
}
.modal-text {
  color: #03142b;
  text-align: center;
}

#search-header {
  color: black;
}
*/

mdb-card {
  display: inline-flex;
  vertical-align: top;
  padding: 0px;
}

mdb-card-body {
  padding: 1px 0px;
}

img {
  display: flex;
  align-self: center;
}

