<div class="container">
  <div class="row justify-content-center py-5">
    <div class="col-9">
      <mdb-card>
        <mdb-card-title>
          Deze pagina is niet gevonden.
        </mdb-card-title>
        <mdb-card-body>
          Deze pagina is niet gevonden. U kunt gebruik maken van het navigatie menu om naar een bestaande pagina te navigeren.
          Denkt u dat dit een fout is dan verzoeken wij u om contact met ons op te nemen.
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
