$dubio-yellow: #e2b53b;
$dubio-blue: #2f7caf;

h5 {
  background-color: $dubio-yellow;
  font-size: 34px;
}

.custom-control-label {
  color: #757575;
}

.custom-control-label::before,
.custom-control-label::after {
  //top: .8rem;
  width: 1.25rem;
  height: 1.25rem;
}

.horizontalLine {
  display: none;
}

label {
  color: $dubio-blue;
}


/*show for small screens */
@media screen and (max-width: 960px) {
  .horizontalLine {
    display: block;
  }
}
