<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div align="center" style="padding-bottom: 5px">
    <button onclick="location.href='https://www.facebook.com/garage2020leiden/'" style="background-color: #3b5998" type="button" mdbBtn class="btn-fb waves-light rounded-corner" mdbWavesEffect><i  class="fa fa-facebook"></i></button>
    <button onclick="location.href='https://twitter.com/garage2020'" style="background-color: #2bc4ff;" type="button" mdbBtn class="btn-tw waves-light rounded-corner" mdbWavesEffect><i class="fa fa-twitter"></i></button>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://garage2020.nl/"> Garage2020.nl</a>
  </div>

</footer>
<!-- Footer -->
