/* You can add global styles to this file, and also import other style files */
$background-color: #809baa;

body {
  color: white;
  background-color: $background-color;

  font-family: "Helvetica Neue Regular";

  height: 100%;
}

footer {
  position: relative;
  //margin-top: -180px;
  clear: both;
  height: 180px;
}
