/* You can add global styles to this file, and also import other style files */
$background-color: #809baa;

body {
  margin: 0;
  padding: 0;

  color: white;
  background-color: $background-color;

  font-family: "Helvetica Neue Regular";
  position: relative;
}

.btn-rouded {
  border-radius: 50px;
}

.btn-normalize {
  text-transform: none;
  font-size: 1em;
}
