/* You can add global styles to this file, and also import other style files */
$background-color: #809baa;

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  color: white;
  background-color: $background-color;

  font-family: "Helvetica Neue Regular";
  position: relative;
}

#router-outlet {
  padding-bottom: 120px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-rouded {
  border-radius: 50px;
}

.btn-normalize {
  text-transform: none;
  font-size: 1em;
}
