.parent {
  display: inline-block;
  text-align: center;
}

.mainbody {
}

.left-icons {
  display: inline-block;
  text-align: center;
}

.right-icon {
  display: inline-block;
  text-align: center;
}

i {
  font-size: 40px;
}

.plus {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.info-text {
  font-size: 22px;
}
