<mdb-card style="margin-bottom: 1rem">
  <mdb-card-body class="col-md-12 d-flex flex-wrap">
    <div class="col-md-4 parent">
      <i class="fa fa-user" aria-hidden="true"></i>
      <div class="info-text">
        {{ parent1.email }}
      </div>
      <div class="info-text">
        {{ parent1.phoneNr }}
      </div>
    </div>
    <div class="col-md-2 plus">
      <i style="font-size: 50px; color: lightblue" class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="col-md-4 parent">
      <i class="fa fa-user" aria-hidden="true"></i>
      <div class="info-text">
        {{ parent2.email }}
      </div>
      <div class="info-text">
        {{ parent2.phoneNr }}
      </div>
    </div>
    <div class="col-md-2 delete">
        <i style="font-size: 60px; color: darkred" class="fa fa-trash delete-button"></i>
    </div>
  </mdb-card-body>
</mdb-card>
