.parent {
  display: inline-block;
  text-align: center;
}

i {
  font-size: 50px;
}

.plus, .delete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-text {
  font-size: 22px;
}

